# Dependencies
node_modules/

# Android Build
android/.gradle
android/app/build
android/build

# iOS Build
ios/build
ios/Pods
ios/Podfile.lock

# Metro
.metro-health-check*

# Environment / Secrets
.env
.env.local
.env.*.local

# Misc
*.log
.DS_Store
.idea/
